
body {
    background: url(../img/fundo_aviao.jpg) no-repeat center center fixed;
    background-size: cover;
}

.btn-outline-success{
    border-color: rgb(0, 167, 157) !important; 
    color:rgb(0, 167, 157) !important; 
}
.btn-outline-success:hover{
    background-color: rgb(0, 167, 157) !important;
    color:white  !important;
    border-color: white  !important;
} 

.containerr{
    margin: 3% 10% 10% 10% !important;
    align-items: center;
   
}

input[type=number]{
    border-radius: 5px;
    border-color: white;
    color: rgb(59, 59, 59);
    width: 100%;
}

.btn-primary{
    background-color:  rgb(0, 167, 157) !important;
    border-color:  rgb(0, 167, 157) !important;
    width: 100% !important;
}
.btn-primary:hover{
    background-color:  rgb(0, 142, 128) !important;
    border-color:   rgb(0, 142, 128) !important;
}
.form1,
.form2{
    backdrop-filter: blur(2px);
}

.pix{
    width: 65% !important;
}

.is-invalid {
    border-color: red;
}